.DS_Store
.nodemonignore
lib/
.sass-cache/
*.log
*.csv
*.dat
*.out
*.pid
*.gz
npm-debug.log
*.*~
node_modules
*.swp
.project
*.sublime*
*.iml
*.ipr
*.iws
.idea/
.tmp
*.css
dist
coverage
example/*
!example/index.html
!example/*.jsx
src/css/*.css
