.DS_Store
.nodemonignore
.sass-cache/
*.log
*.csv
*.dat
*.out
*.pid
*.gz
npm-debug.log
*.*~
node_modules
*.swp
.project
*.sublime*
*.iml
*.ipr
*.iws
.idea/
.tmp
*.css
dist/
coverage/
coverage.html
public/css/*.css
public/js/vendors
public/js/templates
public/css/vendors
public/bower_components
public/components
public/js/templates
public/js/build
public/font/font-awesome
.vagrant
uploads
